<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles(title)">
	<meta charset="UTF-8"/>
	<link  th:href="@{/css/supaStyle.css}" rel="stylesheet">
	<title th:text="${title}"></title>
</head>
<body>
	<header th:fragment="intestazione">
		<a th:href="@{/}"> <img th:src="@{/images/logo.png}">
		</a>
	</header>
	<nav th:fragment="barraNavigazione">
		<ul>
			<li><a th:href="@{/}">Home</a></li>
			<li><a th:href="@{/generi}">Generi</a></li>
			<li><a th:href="@{/autori}">Autori</a></li>
			<li><a th:href="@{/opere}">Opere</a></li>
			<li><a th:href="@{/news}">News</a></li>
			<li><a th:href="@{/carrello}"> 
			<img class="carrello" src="/images/carrello.png" alt="carrello">
			</a></li>
			<li th:if="${#authorization.expression('isAuthenticated()')}" class="posDestra"><a th:href="@{/logout}">Logout</a></li>
			<li  th:if="${#authorization.expression('isAuthenticated()')}" class="posDestra"><a th:text="Profilo" th:href="@{'/cliente' + '/' +${#authentication.name}}">Cliente</a></li>
			<li  th:unless="${#authorization.expression('isAuthenticated()')}" class="posDestra"><a th:href="@{/login}">Login</a></li>
			
			<!--  <li class="posDestra"><input type="search" name="ricerca"
				placeholder="Cerca..." /> <input type="submit" value="cerca" /></li>-->
		</ul>
	</nav>
	<footer th:fragment="fondo">cazzabubolo</footer>
</body>
</html>