<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles(title)">
	<meta charset="UTF-8"/>
	<link th:href="@{/css/supaStyle.css}" rel="stylesheet">
	<title th:text="${title}"></title>
</head>
<body>
	<a name="inizio"></a>
	<header th:fragment="intestazione">
		<a th:href="@{/}"> <img th:src="@{/images/logo.png}">
		</a>
	</header>
	<nav th:fragment="barraNavigazione">
		<ul>
			<li><a th:href="@{/}">Home</a></li>
			<li><a th:href="@{/generi}">Generi</a></li>
			<li><a th:href="@{/autori}">Autori</a></li>
			<li><a th:href="@{/opere}">Opere</a></li>
			<li><a th:href="@{/news}">News</a></li>
			<li><a th:href="@{/carrello}"> 
			<img class="carrello" src="/images/carrello.png" alt="carrello">
			</a></li>
			<li class="posDestra"><a th:href="@{/login}">Login</a></li>
			<li class="posDestra"><input type="search" name="ricerca"
				placeholder="Cerca..." /> <input type="submit" value="cerca" /></li>
		</ul>
	</nav>
	<div id="tornasu">
		<a th:href="#inizio"> <img src="/images/froccia2.png" class="tornasu"
			width="40px" height="40px">
		</a>
	</div>
	<footer th:fragment="fondo">cazzabubolo</footer>
</body>
</html>