<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="fragments/strutturaBase.html :: headerfiles(title=autori)">
</head>
<body>
	<header th:replace="fragments/strutturaBase.html :: intestazione"></header>
	<nav th:replace="fragments/strutturaBase.html :: barraNavigazione">
	</nav>
	<div>
	<span>Ricerca solo mangaka o fumettisti</span>
	<!--  <form action="#" th:action="@{/trovaMangaka}" method="get">
	<input type="hidden" value="77"/>
	<button type="submit" value="77">Mangaka</button>
	</form>
	<form action="#" th:action="@{/trovaFumettista}"method="get">
	<input type="hidden" value="67"/>
	<button type="submit"value="67">Fumettisti</button>
	</form>-->
	<form action="#" th:action="@{/trovaArtista}" method="get">
	<button type="submit" name="action" value="77">Mangaka</button>
	<button type="submit" name="action" value="67">Fumettisti</button>
	</form>
	</div>
	<ul>
		<li th:each="autori : ${autori}"><a href="opereAutore.html"
			th:href="@{'/autori' + '/' + ${autori.id}}"
			th:text="|${autori.nome} ${autori.cognome}|">nome cognome</a></li>
	</ul>
	<footer th:replace="fragments/strutturaBase.html :: fondo"></footer>
</body>
</html>