<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="fragments/strutturaBase.html :: headerfiles(title=autori)">
</head>
<body>
	<header th:replace="fragments/strutturaBase.html :: intestazione"></header>
	<nav th:replace="fragments/strutturaBase.html :: barraNavigazione">
	</nav>
	<ul>
		<li th:each="autori : ${autori}"><a href="opereAutore.html"
			th:href="@{'/autori' + '/' + ${autori.id}}"
			th:text="|${autori.nome} ${autori.cognome}|">nome cognome</a></li>
	</ul>
	<footer th:replace="fragments/strutturaBase.html :: fondo"></footer>
</body>
</html>