<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="fragments/strutturaBase.html :: headerfiles(title=#{pageTitle.persona})">
</head>
<body>
	<header th:replace="fragments/strutturaBase.html :: intestazione"></header>
	<nav th:replace="fragments/strutturaBase.html :: barraNavigazione">
	</nav>
	<ul>
			<li>avventura</li>
			<li>azione</li>
			<li>comico</li>
			<li>erotico</li>
			<li>fantascienza</li>
			<li>fantasy</li>
			<li>gangster</li>
			<li>giallo</li>
			<li>horror</li>
			<li>mistero</li>
			<li>post-apocalittico</li>
			<li>psicologico</li>
			<li>scolastico</li>
			<li>sovrannaturale</li>
			<li>storico</li>
			<li>supereroi</li>
			<li>thriller</li>
			<li>western</li>
	</ul>
	<footer th:replace="fragments/strutturaBase.html :: fondo"></footer>
</body>
</html>