<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="fragments/strutturaBase.html :: headerfiles(title=generi)">
</head>
<body>
	<nav>
		<ul>
			<li><strong>Admin</strong></li>
			<li><a th:href="@{/default}">Home</a></li>
			<li class="posDestra"><a th:href="@{/logout}">Logout</a></li>
		</ul>
	</nav>
	<ul>
		<li th:object="${opere}" th:each="opere : ${opere}">
		<div th:text="*{nome}"></div><br>
		<form class="centrale" action="#" th:action="@{/cancOpera/{id} (id=*{id})}" method="post">
				<input type="hidden" value="Cancella" />
				<button type="submit" value="Cancella">Cancella</button>
			</form>
			<form class="centrale" action="#" th:action="@{/updOpera/{id} (id=*{id})}" method="get">
				<input type="hidden" value="modifica" />
				<button type="submit" value="modifica">Modifica</button>
			</form>
		<div><br><br></div>
		</li>
	</ul>
</body>
</html>