<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="fragments/strutturaBase.html :: headerfiles(title=#{pageTitle.persona})"></head>
<body>
	<header th:replace="fragments/strutturaBase.html :: intestazione"></header>
	<nav th:replace="fragments/strutturaBase.html :: barraNavigazione">
	</nav>
	  <section>
      Nessuna nuova buona nuova
      <img class="mini"src="/images/pianto.gif" alt="piangere fortissimo">
    </section>
    <footer th:replace="fragments/strutturaBase.html :: fondo"></footer>
</body>

</html>