<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="fragments/strutturaBase.html :: headerfiles(title=volume)">
</head>
<body>
	<header th:replace="fragments/strutturaBase.html :: intestazione"></header>
	<nav th:replace="fragments/strutturaBase.html :: barraNavigazione">
	</nav>
	<div th:object="${volume}">
	<img class="imgadj" th:src="@{${'/images/' + volume.nomeCopertina + '.jpg'}}"/>
		<ul>
			<li th:text="'Isbn: '+*{isbn}"></li>
			<li th:text="'Titolo: '+*{titolo}"></li>
			<li th:text="'N&deg: '+*{numVolume}"></li>
			<li th:text="'Prezzo: '+*{prezzo}+'&#8364'"></li>
			<li th:text="'Data di publicazione: '+*{pubblicazione}"></li>
			<li th:if="*{ristampa}" th:text="'Ristampa: Si'"></li>
			<li th:unless="*{ristampa}" th:text="'Ristampa: No'"></li>
			<li th:text="'N&deg copie disponibili: '+*{copie}"></li>
			<li th:text="'Trama'"></li>
			<li th:text="*{sinossi}"></li>
		</ul>
	</div>
	<footer th:replace="fragments/strutturaBase.html :: fondo"></footer>
</body>
</html>