<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="fragments/strutturaBase.html :: headerfiles(title=volume)">
</head>
<body>
	<header th:replace="fragments/strutturaBase.html :: intestazione"></header>
	<nav th:replace="fragments/strutturaBase.html :: barraNavigazione">
	</nav>
	<div th:object="${volume}">
	<img th:src="@{${'/images/' + volume.nomeCopertina + '.jpg'}}"/>
		<ul>
			<li th:text=|${volume.isbn}|></li>
			<li th:text=|${volume.titolo}|></li>
			<li th:text=|${volume.numVolume}|></li>
			<li th:text=|${volume.prezzo}|></li>
			<li th:text=|${volume.pubblicazione}|></li>
			<li th:text=|${volume.ristampa}|></li>
			<li th:text=|${volume.copie}|></li>
			<li th:text=|${volume.sinossi}|></li>
		</ul>
	</div>
	<footer th:replace="fragments/strutturaBase.html :: fondo"></footer>
</body>
</html>