<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="fragments/strutturaBase.html :: headerfiles(title=OpereAutore)">
</head>
<body>
	<header th:replace="fragments/strutturaBase.html :: intestazione"></header>
	<nav th:replace="fragments/strutturaBase.html :: barraNavigazione">
	</nav>
	<ul>
		<li th:each="volume : ${volumi.volumi}">
		<!--<div><img th:src="@{${'/images/' + volume.immagine + '.jpg'}}"/></div>  -->
		<a href="volume.html"
			th:href="@{'/volume' + '/' + ${volume.isbn}}"
			th:text="|${volume.titolo}|"></a><div th:text="|${volume.sinossi}|"></div></li>
	</ul>
	<footer th:replace="fragments/strutturaBase.html :: fondo"></footer>
</body>
</html>