<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="fragments/strutturaBase.html :: headerfiles(title=generi)">
</head>
<body>
	<nav>
	<ul>
	<li><strong>Admin</strong></li>
	<li><a th:href="@{/default}">Home</a></li>
	<li class="posDestra"><a th:href="@{/logout}">Logout</a></li>
	</ul>
	</nav>
	<ul>
		<li><strong>Inserimento</strong>
		<li><a th:href="@{/inserisciAutore}">Inserisci Autore</a></li>
		<li><a th:href="@{/inserisciOpera}">Inserisci Opera</a></li>
		<li><a th:href="@{/inserisciVolume}">Inserisci Volume</a></li>
		<li><a th:href="@{/inserisciGenere}">Inserisci Genere</a></li>
		<li><strong>------------------------------------</strong>
		<li><strong>Modifica</strong>
		<li><a th:href="@{/modificaAutore}">Modifica Autore</a></li>
		<li><a th:href="@{/modificaOpera}">Modifica Opera</a></li>
		<li><a th:href="@{/modificaVolume}">Modifica Volume</a></li>
		<li><a th:href="@{/modificaGenere}">Modifica Genere</a></li>
		<li><strong>------------------------------------</strong>
	</ul>

</body>
</html>